<div>
    <img class="rounded-circle" src="../../assets/image/profil.png" style=" width: 80%;margin-top: 50px; margin-bottom: 50px;margin-left: 10%;" alt="profile picture"> 
</div>
<div>
    <p style="text-align: center;">
        <a href="https://m.facebook.com/madushanka.kahawa" target="_blank" title="">
            <i class="fa fa-facebook animated bounceIn" style="background-color: #3b5998;color: white;"></i>
        </a>
        <a href="https://github.com/madushanka2016" target="_blank" title="">
            <i class="fa fa-github animated bounceIn" style="color: white; background-color: #333;"></i>
        </a>
        <a href="https://www.linkedin.com/in/madushanka-kahawa-521b3115a/" target="_blank" title="">
            <i class="fa fa-linkedin animated bounceIn" style="background-color: #0077b5;color: white;"></i>
        </a>
        <a href="https://stackoverflow.com/users/9475949/madushanka-kahawa" target="_blank" title="">
            <i class="fa fa-stack-overflow animated bounceIn" style="background-color: #f48024;color: white;"></i>
        </a>
        <a href="https://medium.com/@madushankakahawa" target="_blank" title="">
            <i class="fa fa-medium animated bounceIn" style="background-color: black;color: white;"></i>
        </a>
    </p>
</div>
    